.login-div{
    box-shadow: 0 0 3px 0.1px #643173;
    background-color: #fcfafa;
    margin: 1% auto;
    width: 80%;
    padding: 1%;
}
.login-div *{
    font-size: clamp(90%,1.5vw,1.5vw);
    width: 100%;
}
.login-div div{
    display: flex;
    justify-content: space-between;
}
.login-div p{
    background-color: #ff808080;
    text-align: center;
}
h5 + input{
    margin-bottom: 10%;
}
