.login-div{
    box-shadow: 0 0 3px 0.1px #643173;
    background-color: #fcfafa;
    margin: 1% auto;
    width: 40%;
    padding: 1%;
}
.login-div *{
    width: 100%;
}
.login-div button{
    font-size: x-large;
}
a button{
    float: right;
}
.login-div p{
    background-color: #ff808080;
    text-align: center;
}
h5 + input{
    margin-bottom: 10%;
}
