.main-div{
    box-shadow: 0 0 3px 0.1px #643173;
    background-color: #fcfafa;
    margin: 1.5% auto;
    width: 95%;
    display: flex;
    padding: 1.5% 0;
    overflow: auto;
    justify-content: space-between;
}
.img{
    cursor: pointer;
    padding: 3%;
    color: #fcfafa;
    background-color: #000;
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5px;
    height: 50%;
    width: 90%;
}
.price{
    font-size: 90%;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
.product{
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    font-size: large;
    padding: 0.2%;
    text-align: center;
    margin: 0 1%;
    flex: 0 0 200px;
    height: 350px;
    position: relative;
}
.product:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0 0 3px 1px #643173;
}