.product-page-div{
    margin: auto;
    width: 95%;
}
.product-page-div > * {
    width: 100%;
    margin: 1em auto;
}
.product-contents-div{
    padding: .5em;
    box-shadow: 0 0 3px 0.1px #643173;
    background-color: #fcfafa;
    min-width: 300px;
    
}
.product-img-div{
    margin-right: auto;
    background-color: #000;
    color: #fcfafa;
    height: 400px;
}
.add-to-cart{
    width: initial;
    float: right;
    height: 30px;
    font-weight: 600;
    min-width: 115px;
    text-align: right;
}
.add-to-cart p{
    padding-right: .5em;
    color: #ff8080;
}
.product-disc-div{
    padding: .5em;
    background-color: #643173;
    color: #fcfafa;
    max-height: 400px;
    overflow: auto;
    overflow-wrap: break-word;
}
.product-write-review-div{
    background-color: #fcfafa;
    box-shadow: 0 0 3px 0.1px #643173;
    padding: .5em;
}
.product-write-review-div textarea{
    transition: all 0.1s ease-in-out;
    width: 100%;
    border: 2px solid #64317380;
    padding: .5em;
}
.product-write-review-div textarea:hover, 
.product-write-review-div textarea:focus {
    border: 2px solid #643173;
}
.product-reviews-div{
    padding: .5em;
    background-color: #643173;
    color: #fcfafa;
    height: max-content;
}
.each-review-div{
    border-top: 1px solid #fcfafa;
}
.each-review-div h5{
    font-weight: 600;
    margin: 0.25em 0;
    margin-left: 1em;
}
.each-review-div p{
    margin: 0.25em 0;
    margin-left: 2em;
}
h5 + .each-review-div{
    margin-top: 1em;
}