.product-page-div{
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: space-between;
}
.product-contents-div{
    padding: 1%;
    height: 500px;
    box-shadow: 0 0 3px 0.1px #643173;
    background-color: #fcfafa;
    width: 49%;
}
.product-img-div{
    background-color: #000;
    color: #fcfafa;
    width: 49%;
    height: 500px;
    margin-bottom: 2%;
}
.product-disc-div{
    padding: 1%;
    margin-top: 1%;
    background-color: #643173;
    color: #fcfafa;
    max-height: 400px;
    overflow: auto;
    overflow-wrap: break-word;
}
.product-reviews-div{
    margin: auto;
    width: 95%;
    margin-bottom: 1%;
    padding: 1%;
    background-color: #643173;
    color: #fcfafa;
    height: max-content;
}
.add-to-cart{
    float: right;
    height: 30px;
    width: max-content;
    text-align: right;
}
.add-to-cart p{
    margin-top: 2%;
    padding-right: 2%;
    color: #ff8080;
}