.search-page-div{
    display: flex;
    width: 95%;
    margin: auto;
}
.search-filter-div{
    background-color: #fcfafa;
    width: 30%;
    padding: 1%;
    box-shadow: 0 0 3px 0.1px #643173;
    display: table;
}
.search-div{
    margin-left: auto;
    background-color: #fcfafa;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 68%;
    padding: 1%;
    min-height: 400px;
    box-shadow: 0 0 3px 0.1px #643173;
}
.search-page-div h2{
    margin: auto;
    font-weight: 600;
    color: #ff8080;
}
.img{
    cursor: pointer;
    padding: 2%;
    color: #fcfafa;
    background-color: #000;
    margin: 2% auto;
    height: 50%;
    width: 90%;
    line-height: 200%;
}
.price{
    font-size: 90%;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
.product{
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    font-size: large;
    margin: 1% 1%;
    text-align: center;
    width: 20%;
    min-width: 200px;
    height: 350px;
    position: relative;
}
.product:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0 0 3px 1px #643173;
}