.search-div{
    margin-left: auto;
    margin-right: 2.5%;
    background-color: #fcfafa;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    min-height: 400px;
    box-shadow: 0 0 3px 0.1px #643173;
}
.search-div h2{
    margin: auto;
    color: #ff8080;
}
.img{
    cursor: pointer;
    padding: 2%;
    color: #fcfafa;
    background-color: #000;
    margin: 2% auto;
    height: 50%;
    width: 90%;
    border-radius: 10px;
    line-height: 200%;
}
.price{
    font-size: 90%;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}
.product{
    transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;
    font-size: large;
    margin: 1% 1%;
    text-align: center;
    border-radius: 10px;
    width: 20%;
    min-width: 200px;
    height: 350px;
    position: relative;
}
.product:hover{
    transform: scale(1.05,1.05);
    box-shadow: 0 0 3px 1px #643173;
}