.shoppinglist-div{
    background-color: #fcfafa;
    border-radius: 10px;
    width: 90%;
    margin: auto;
    margin-top: 1%;
    box-shadow: 0 0 3px 0.1px #643173;
    min-height: 300px;
    display: table;
}
.shoppinglist-div h4{
    display: table-cell;
    vertical-align: middle;
    background-color: #ff808080;
    border-radius: 10px;
    text-align: center;
}
.table-div{
    padding: 1%;
    display: flex;
    flex-wrap: wrap;
}
.table-div * {
    min-height: 40px;
    font-size: 95%;
}
.table-div h3{
    font-size: 110%;
}
.name{
    display: flex;
    flex-basis: 50%;
    padding-right: 1%;
    justify-content: space-between;
}
.name a button,.name a button:hover {
    border: none;
    background-color: #ff808080;
    min-height: 0;
}
.name span{
    padding-right: 2%;
}
.price{
    border-right: 1px solid #643173;
    border-left: 1px solid #643173;
    text-align: center;
    flex-basis: 30%;
}
.count{
    width: 15%;
    height: min-content;
    flex-basis: 20%;
    text-align: center;
}

.table-div input:hover,.table-div input:focus,.table-div input{
    border: none;
}
