.shoppinglist-div{
    background-color: #fcfafa;
    width: 95%;
    margin: 1% auto;
    box-shadow: 0 0 3px 0.1px #643173;
    overflow: auto;
    min-height: 100px;
    position: relative;
}
.shoppinglist-div h4{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    background-color: #ff808080;
}
.table-div{
    width: 100%;
    padding: .25em .5em;
    min-width: 500px;
    font-size: clamp(70%,1.5vw,1.5vw);
}
.table-div > *{
    border-top: 1px solid #643173;
}
.table-div *{
    margin: 0;
}
.table-div h3{
    font-weight: 600;
    font-size: inherit;
}
.table-div input{
    text-align: center;
}
.header-div {
    border: none;
    display: flex;
    align-items: center;
}
.items-div{
    display: flex;
    align-items: center;
}
.footer-div{
    display: flex;
    align-items: center;
}
.name{
    display: flex;
    align-items: center;
    width: 60%;
}
.table-div button,.table-div button:hover {
    border: none;
    width: min-content;
    height: min-content;
    color: #ff8080;
    font-weight: 600;
    font-size: 1.5em;  
}
.name span{
    padding-right: 2%;
}
.price{
    height: 5vw;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #643173;
    border-left: 1px solid #643173;
    width: 20%;
}
.count{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
}
.table-div input:hover,.table-div input:focus,.table-div input{
    border: none;
}
