<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'files/style.css' %}">
    {% block style %}
    {% endblock %}
    <title>Online shop</title>
</head>
<body>
    <form method="GET" action="/search/" id="searchform"></form>
    <div class="menubar">
        <a href="/"><button>Home</button></a>
        <a href="/shoppinglist"><button>Cart</button></a>
        {% if User %}
        <a href="/profile"><button>{{User.username}}</button></a>
        {% else %}
        <a href="/login"><button>Login</button></a>
        {% endif %}
        <input placeholder="search..." form="searchform" name="q" type="text">
    </div>
    {% block body %}
    {% endblock %}
</body>
</html>