{% extends 'Base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'files/login-page.css' %}">
{% endblock %}
{% block body %}
    <div class="title-div">
        <h5 style="text-align: center;">Login</h5>
    </div>
    <div class="login-div">
        <form method="POST">
            {% csrf_token %}
            <h5>Username:</h5>
            <input required name="username" type="text">
            <h5>Password:</h5>
            <input required name="password" type="password"><br>
            {% if result %}
            <p>{{result}}</p>
            {% endif %}
            <div>
                <button type="submit">Login</button>
                <button type="button"><a href="/signup">Sign up</a></button>
            </div>
        </form>
    </div>
{% endblock %}
