{% extends 'Base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'files/search-page.css' %}">
{% endblock %}
{% block body %}
    <br>
    <div class="search-page-div">
        {% if not results %}
        <h2>Nothing found</h2>
        {% else %}
        <div class="search-filter-div">
            <form method="POST" id="filter-form">{% csrf_token %}</form>
            <div style="display: flex;">
                <p>Price:</p>
                <select form="filter-form" name="price">
                    <option value="h">ascending</option>
                    <option value="l">decending</option>
                </select>
            </div>
            <p style="visibility: hidden;">aaaa</p>
            <div style="display: flex;">
                <p>Name:</p>
                <select form="filter-form" name="name">
                    <option value="h">ascending</option>
                    <option value="l">decending</option>
                </select>
            </div>
            <button type="submit" form="filter-form">Apply</button>
        </div>
        <div class="search-div">
            {% for result in results %}
            <div class="product">
                <a href="/product/{{result.id}}"><p class="img">Product's image</p></a>
                <a style="font-size: medium;" href="/product/{{result.id}}">{{result.name}}</a>
                <p class="price">{{result.price}}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
