{% extends 'Base.html' %}
{% load Tags %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'files/shoppinglist-page.css' %}">
{% endblock %}
{% block body %}
    <div class="title-div">
        <h5 style="text-align: center;">Shopping list</h5>
    </div>
    <div class="shoppinglist-div">
        {% if not items %}
        <h4>Empty cart</h4>
        {% else %}
        <form method="POST" id="count-form">{% csrf_token %}</form>
        <div class="table-div">
            <div class="header-div">
                <h3 class="name">Name</h3>
                <h3 class="price">Price</h3>
                <h3 class="count">Count</h3>
            </div>
            {% for item,price,count in items %}
            <div class="items-div">
                <p class="name"><span>{{ item.name }}</span><a href="?remove={{item.id}}"><button>x</button></a></p>
                <p class="price">{{ price|PriceFormat }}</p>
                <div class="count"><input form="count-form" name="c_{{item.id}}" value="{{count}}" type="number"></div>
            </div>
            {% endfor %}
            <div class="footer-div">
                <h3 class="name">Total price</h3>
                <h3 class="price">{{ totalp|PriceFormat }}</h3>
                <h3 class="count">{{ totalc }}</h3>
            </div>
            <button style="position: absolute;height: 0;width: 0;border: 0;" type="submit" form="count-form"></button>
        </div>
    </div>
    <div style="border: none;" class="title-div">
        <a href="#"><button>Check out</button></a>
    </div>
    {% endif %}
{% endblock %}
