{% extends 'Base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'files/login-page.css' %}">
{% endblock %}
{% block body %}
    <div class="title-div">
        <h5 style="text-align: center;">Sign up</h5>
    </div>
    <div class="login-div">
        <form method="POST">
            {% csrf_token %}
            <p>{{result}}</p>
            <h5>Email:</h5>
            <input required name="email" type="email">
            <h5>Username:</h5>
            <input required name="username" type="text">
            <h5>Password:</h5>
            <input required name="password" type="password"><br>
            <h5>First name:</h5>
            <input required name="first_name" type="text">
            <h5>Last name:</h5>
            <input required name="last_name" type="text">
            <h5>Address:</h5>
            <input name="address" type="text">
            <h5>Phone number:</h5>
            <input name="phone_number" type="number">
            <div>
                <button type="submit">Sign up</button>
                <button type="button"><a href="/login">Log in</button></a>
            </div>
        </form>
    </div>
{% endblock %}
